@media (min-width: 768px) {
    html {
        font-size: 28px
    }
}

@media (min-width: 1024px) {
    html {
        font-size: 32px
    }
}


/*>=1024的设备*/

@media (min-width: 1100px) {
    html {
        font-size: 34.375px
    }
}


/*>=1100的设备*/

@media (min-width: 1280px) {
    html {
        font-size: 40px;
    }
}


/*>=1280的设备*/

@media (min-width: 1366px) {
    html {
        font-size: 42.6875px;
    }
}

@media (min-width: 1440px) {
    html {
        font-size: 45px;
    }
}

@media (min-width: 1680px) {
    html {
        font-size: 52.5px;
    }
}

@media (min-width: 1920px) {
    html {
        font-size: 60px;
    }
}